*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
p {
  font-size: 1.1rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
section {
  margin-bottom: 80px;
}
.container {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.col-12 {
  flex-basis: 100%;
}
.col-8 {
  flex-basis: 64%;
}
.col-6 {
  flex-basis: 48%;
}
.col-4 {
  flex-basis: 32%;
}
.text-center {
  text-align: center;
}
.hero-area {
  height: 100vh;
}
img {
  width: 100%;
}
.colored-title {
  color: #ff8863;
}

.button-primary {
  background-color: #ff8863;
  border-color: #ff8863;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
}
.mission,
.vision,
.goals {
  padding: 20px;
  min-height: 350px;
  border-radius: 20px;
}
.section-title {
  margin-bottom: 30px;
  font-size: 30px;
}
.mission {
  background-color: #d0f5ff;
}
.vision {
  background-color: #ffbdd1;
}
.goals {
  background-color: #fee5cd;
}
.mission-area img {
  max-width: 200px;
}

footer {
  background-color: #2f4858;
  padding: 50px 0;
  text-align: center;
  color: #fff;
}
